{% extends 'Expenditure/base.html' %}
{% block title %}Create New User{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row mt-2">
<div class="col-sm-1">
	</div>
</div>

    <div class="row">
	<div class="col-sm-1">
	</div>
	<div class="col-sm-6">


          <div class="card">
				<div class="card-header p-b-0">
					<h5 class="card-title">
						Create New User
					</h5>
				</div>
				<div class="card-block">
                    {% if error_message %}
                    <div class="alert alert-danger">
                        <p><strong>{{ error_message }}</strong></p>
                    </div>
                    {% endif %}

					<form class="form-group" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="mt-2"></div>
                            {% include 'Expenditure/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" onclick="this.disabled=true,this.form.submit();">Submit</button>
                            </div>
                      </div>

                    </form>
				</div>
			</div>
        </div>


        <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>IMPORTANT</h3>
                    <ol>
                        <li>You Being Admin have authority to add New user.</li>
                        <li>Enter Valid Information.</li>
                        <li>Username and Password will be send to entered Email-id.</li>
                        <li><strong>User's freedom can be controlled by adding proper permissions.</strong></li>
                    </ol>
                    <h3>How do I add New User?</h3>
                    <ol>
                        <li>Choose the Username according to your preference(no Restriction).</li>
                        <li>Enter Valid email id and PhoneNumber.</li>
                        <li>Select Permissions carefully.</li>
                        <ul style="list-style-type: circle">
                            <li>User having permission view can only view entries.</li>
                            <li>User having permission view + add can view entries as well as make new entries.</li>
                            <li>User having permission view + add + delete can view entries as well as make new entries and also delete exixting entries.</li>
                            <li><strong>Superuser can do anything (he can even remove you from users list) so it is very HIGH PRIVILEGED PERMISSION.</strong></li>
                        </ul>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
