{% extends 'Expenditure/base.html' %}
{% block title %}Credits{% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-4">
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header p-b-0">
                    <h5 class="card-title">
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        Add Credit
					</h5>
				</div>
                <div class="card-block">
                    <br>
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'Expenditure/form_template.html' %}
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
				</div>
                <div class="mt-4"></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-dark">
                <div class="card-header">Total Balence-{{ balenceT.balence }}</div>
                <div class="card-body">
                    <h4 class="card-title">Balance left-</h4>
                    <p class="card-text">{{ balence.balence }}/-</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header">
        <h3>Recent Credits</h3>
      </div>
      <div class="card-body">
        <p class="card-text">
            <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>Credit No</th>
                        <th>Name of Payee</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Options</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for credit in credits%}
                    <tr>
                        <th scope="row">{{credit.id}}</th>
                        <td>{{credit.name_of_payee}}</td>
                        <td>{{credit.amount}}</td>
                        <td>{{credit.date_time}}</td>
                        <td>
                            <a href="{% url 'Expenditure:edit_credit' credit.id %}">
                            <button type="button" class="btn btn-dark">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Edit
                            </button>
                            </a>
                            <a href="{% url 'Expenditure:delete_credit' credit.id %}">
                            <button type="button" class="btn btn-dark">
                                <span class="glyphicon glyphicon-plus"></span>&nbsp; Delete
                            </button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </p>
        <button type="button" class="btn btn-dark center">Display All Credits</button>
      </div>
    </div>
    <br>
</div>
{% endblock %}
