{% extends 'Expenditure/base.html' %}
{% block title %}Dashboard{% endblock %}

{% block body %}
<script>
    var balence={{json|safe}}||false;
    var todays_debits="{{todays_expenditure}}".replace(/&quot;/g,"\"");
    var todays_credits="{{todays_credits}}".replace(/&quot;/g,"\"");
    var price_gst="{{price_gst}}".replace(/&quot;/g,"\"");
    var price_non_gst="{{price_non_gst}}".replace(/&quot;/g,"\"");
    var price_cat1="{{price_cat1}}".replace(/&quot;/g,"\"");
    var price_cat2="{{price_cat2}}".replace(/&quot;/g,"\"");
    var price_cat3="{{price_cat3}}".replace(/&quot;/g,"\"");
    var price_other="{{price_other}}".replace(/&quot;/g,"\"");
</script>
{% load staticfiles %}
<div class="container" >
    <section>
        <div class="row">
            <div class="col-md-12 mt-3">
                <h1><i class="fa fa-tachometer" aria-hidden="true"></i>&nbsp;DashBoard</h1>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 ">
                            <!-- CARD -->
                            <div id="chart_deb"></div>
                            <!-- /CARD -->
                        </div>
                        <div class="col-md-4">
                            <!-- CARD -->
                            <div id="chart_cre"></div>
                            <!-- /CARD -->
                        </div>
                        <div class="col-md-4">
                            <!-- CARD -->
                            <div id="chart_exp"></div>
                            <!-- /CARD -->
                        </div>
                    </div>
                    <!-- /row -->
<!--<div class="container">-->
                    <div class="row">
                        <div class="col-md-12 mt-3">
                            <div class="card">
                                <h4 id="header_recent" class="card-header">Recent Activities..</h4>
                                <div class="card-body">
                                    <div id="recent" >
                                        <div id="recent_cre">
                                            <h3>Recent Debits</h3>
                                        </div>
                                        <table class="table">
                                            <thead class="thead-inverse">
                                            <tr>
                                                <th>Debit No</th>
                                                <th>Name of Product</th>
                                                <th>Amount</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for debit in debits%}
                                            <tr>
                                                <th scope="row">{{debit.id}}</th>
                                                <td>{{debit.product_name}}</td>
                                                <td>{{debit.price}}</td>
                                                <td>{{debit.date_time}}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                        <div id="recent_deb">
                                            <h3>Recent Credits</h3>
                                        </div>
                                        <table class="table">
                                            <thead class="thead-inverse">
                                            <tr>
                                                <th>Credit No</th>
                                                <th>Name of Payee</th>
                                                <th>Price</th>
                                                <th>Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for credit in credits%}
                                            <tr>
                                                <th scope="row">{{credit.id}}</th>
                                                <td>{{credit.name_of_payee}}</td>
                                                <td>{{credit.amount}}</td>
                                                <td>{{credit.date_time}}</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3">
                            <div class="card">
                                <h4 id="header_syswise" class="card-header">System Wise Analysis Of Expenditure (Conflict)</h4>
                                <div class="card-body text-center">
                                    <div id="spiechart_3d" style="height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 mb-2">
                            <div class="card">
                                <h4 id="header_catwise" class="card-header">Category Wise Analysis Of Expenditure</h4>
                                <div class="card-body text-center">
                                    <div id="cpiechart_3d" style="height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 mb-2">
                            <div class="card">
                                <h4 id="header_taxwise" class="card-header">Tax Wise Analysis Of Expenditure</h4>
                                <div class="card-body text-center">
                                    <div id="donutchart" style="height: 350px;"></div>
                                </div>
                            </div>
                        </div>
                    </div><!--/row-->
                    <!--</div><!-- /container-->
                </div>
            </div>
        </div><!-- /container -->
    </section>
</div><!-- /row -->
</div><!-- /container -->
<!-- JavaScript: placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="{% static 'Expenditure/js/script.js' %}"></script>
{% endblock %}