{% extends 'Expenditure/base.html' %}
{% block title %}Debits{% endblock %}

{% block javascript %}
<script>
    $("#id_product_name").on('keyup', function(){
        var value = $(this).val();
        $.ajax({
            url: "{% url 'Expenditure:ajax_autocomplete' %}",
            data: {
              'search': value
            },
            dataType: 'json',
            success: function (data) {
                list = data.list;
                $("#id_product_name").autocomplete({
                source: list,
                minLength: 1
                });
            }
        });
    });
  </script>
{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container">
    <div class="card mt-4">
        <h4 class="card-header">Debits</h4>
        <div class="card-body">
            <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label  class="col-form-label">Item<span id="required"> * </span></label>
                        <div class="input-group">
                        <p>{% if form.product_name.errors %}
                            <span class="error">
                                {{ form.product_name.errors|join:", " }}
                            </span>
                            {% endif %}
                        </p>
                            <div class="ui-widget">
                        {{form.product_name}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label  class="col-form-label">Quantity<span id="required"> * </span></label>
                        <div class="input-group">
                            <p>{% if form.quantity.errors %}
                                <span class="error">
                                    {{ form.quantity.errors|join:", " }}
                                </span>
                                {% endif %}
                            </p>
                            {{form.quantity}}
                            <div class="dropdown">
                                {{form.unit}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label  class="col-form-label">Price<span id="required"> * </span></label>
                        <p>{% if form.price.errors %}
                            <span class="error">
                                {{ form.price.errors|join:", " }}
                            </span>
                            {% endif %}
                        </p>
                        {{form.price}} RS
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 ">
                        <div>
                            <label  class="col-form-label">Tax<span id="required"> * </span></label><br>
                            <p>{% if form.tax.errors %}
                                <span class="error">
                                    {{ form.tax.errors|join:", " }}
                                </span>
                                {% endif %}
                            </p>
                            {{form.tax}}
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                    <label class="col-form-label">System:<span id="required"> * </span></label></br>
                                    {{form.system}}
                            </div>
                             <div class="col-md-6">
                                    <label  class="col-form-label">User:</label><br>
                                    {{form.users}}
                             </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="col-form-label">Category:<span id="required"> * </span></label></br>
                                {{form.category}}
                            </div>
                            <div class="col-md-6">
                                <label class="col-form-label">Subevent:<span id="required"> * </span></label></br>
                                {{form.subevents}}
                            </div>

                        </div>




                    </div>
                    <div class="form-group col-md-6">
                        <label  class="col-form-label">Remark:</label>
                        <p>{% if form.remarks.errors %}
                            <span class="error">
                                {{ form.remarks.errors|join:", " }}
                            </span>
                            {% endif %}
                        </p>
                        {{form.remarks}}
                    </div>
                </div>
                <!--2nd row starts
                <div class="form-row">
                <div class="form-group col-lg-12">
                </div>
                </div>-->
                <button type="submit" class="btn btn-success " onclick="this.disabled=true,this.form.submit();">Submit</button>
            </form>
        </div>
    </div>
    <br>
    <!--display recent debits-->
    <div class="card">
        <div class="card-header">
            <h3>Recent Debits</h3>
        </div>
        <div class="card-body">
            <p class="card-text">
            <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Debit No</th>
                <th>Name of Product</th>
                <th>Price</th>
                <th>Date</th>
                <th>Options</th>
            </tr>
            </thead>
            <tbody>
            {% for debit in debits%}
            <tr>
                <th scope="row">{{debit.id}}</th>
                <td>{{debit.product_name}}</td>
                <td>{{debit.price}}</td>
                <td>{{debit.date_time}}</td>
                <td>
                    {% if perms.Expenditure.change_Debits %}
                    <a href="{% url 'Expenditure:edit_debit' debit.id %}">
                        <button type="button" class="btn btn-dark">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Edit
                        </button>
                    </a>
                    {%endif%}
                    {% if perms.Expenditure.delete_Debits %}
                    <a href="{% url 'Expenditure:delete_debit' debit.id %}">
                        <button type="button" class="btn btn-dark">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp; Delete
                        </button>
                    </a>
                    {%endif%}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </p>
             <a href="{% url 'Expenditure:report_result' 'debits' 'all' %}">
            <button type="button" class="btn btn-dark center">Display All Debits</button>
             </a>
        </div>
    </div>
    <br>
</div>

<!-- JavaScript: placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="{% static 'Expenditure/js/script.js' %}"></script>

{% endblock %}

