{% extends 'Expenditure/base.html' %}

{%block body%}
<body>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
<h1>Welcome to Kratos Elog  Welcome to Kratos Elog  </h1>
</body>
{%endblock%}