{% extends 'Expenditure/base.html' %}
{% block title %}Reports{% endblock %}

{% block body %}
{% load staticfiles %}
<div class="container mt-4 ">

  <h2>SystemWise Reports</h2>
  <hr>
  <!-- card1 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Engine</h4>

          </div>
          <div class="col-md-6 text-center">
              <form>
                  <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'systemwise' 'engine' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!-- card2 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Breaks</h4>

          </div>
          <div class="col-md-6 text-center">
            <form>
                  <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'systemwise' 'break' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!-- card3 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Chasis</h4>

          </div>
          <div class="col-md-6 text-center">
            <form>
                  <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'systemwise' 'chasis' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!-- card4 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Suspension</h4>

          </div>
          <div class="col-md-6 text-center">
            <form>
                  <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'systemwise' 'suspension' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!-- card5 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Misc</h4>

          </div>
          <div class="col-md-6 text-center">
            <form>
                  <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'systemwise' 'misc' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!--end of systemwise-->

<h2 class="mt-4">CategoryWise Reports</h2>
  <hr>
  <!-- card1 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Cat1</h4>

          </div>
          <div class="col-md-6 text-center">
            <form>
                  <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'categorywise' 'catone' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!-- card2 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Cat2</h4>

          </div>
          <div class="col-md-6 text-center">
            <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'categorywise' 'cattwo' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!-- card3 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Cat3</h4>

          </div>
          <div class="col-md-6 text-center">
            <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'categorywise' 'catthree' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>

<!-- card4 -->
  <div class="card mt-2">
  <div class="card-body">
    <div class="row">
          <div class="col-md-6 text-center">
                <h4>Other</h4>

          </div>
          <div class="col-md-6 text-center">
            <input type="button" value="Genrate Reports" class="btn btn-dark"
                         onclick="window.location.href='{% url 'Expenditure:report_result' 'categorywise' 'other' %}'" />
              </form>
          </div>
    </div>
  </div>
</div>
    <div class="card mb-2">
    </div>


</div>


   <!-- /DashBoards Charts-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

    {% endblock %}


