{% extends 'Expenditure/base.html' %}
{% block title %}Reports{% endblock %}
{% block body %}
{% load staticfiles %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-4">SystemWise Reports</h2>
            <hr>
            <!-- card1 -->
            {% for system in systems %}
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h4>{{system}}</h4>
                        </div>
                        <div class="col-md-6 text-center">
                            <form>
                                <input type="button" value="Genrate Reports" class="btn btn-dark"
                                       onclick="window.location.href='{% url 'Expenditure:report_result' 'systemwise' system.system_name %}'" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--end of systemwise-->
        <div class="col-md-6">
            <h2 class="mt-4">CategoryWise Reports</h2>
            <hr>
            {% for category in categories %}
            <!-- card1 -->
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <h4>{{category}}</h4>
                        </div>
                        <div class="col-md-6 text-center">
                            <form>
                                <input type="button" value="Genrate Reports" class="btn btn-dark"
                                 onclick="window.location.href='{% url 'Expenditure:report_result' 'categorywise' category.category_name %}'" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2 class="mt-4">Credits Report</h2>
            <hr>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8 text-center">
                            <h4>Click here to generate Report</h4>
                        </div>
                        <div class="col-md-4 text-center">
                            <form>
                                <input type="button" value="Genrate Reports" class="btn btn-dark"
                                       onclick="window.location.href='{% url 'Expenditure:report_result' 'credits' 'all' %}'" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="mt-4">Debits Report</h2>
            <hr>
            <div class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>Click here to generate Report</h4>
                        </div>
                        <div class="col-md-4 text-center">
                            <form>
                                <input type="button" value="Genrate Reports" class="btn btn-dark"
                                       onclick="window.location.href='{% url 'Expenditure:report_result' 'debits' 'all' %}'" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
</div>
{% endblock %}


