{% extends 'Expenditure/base.html' %}
{% block title %}Users{% endblock %}
{% block body %}
{% load staticfiles %}
<div class="container">
    {% if perms.Expenditure.add_User %}
    <div class="row">
        <div class="mt-4">
            <a href="{% url 'Expenditure:create_new_user' %}" >
                        <button type="button" class="btn btn-dark">Create New Users</button>
            </a>
        </div>
    </div>
    <hr>
    {%endif%}
    <div class="row">
        {%for user in users%}
        <div class="col-md-3">
            <div class="card mt-4 ml-4 usrcard">
                <div class="card-header usrhed">
			    {{request.session.main_event}}
			  </div>

			    <div class="card-block mt-3">
			    <h4 id="userName" class="card-title text-center">{{user.user.username}}</h4>
			    <p class="card-text muted text-center">
                {{user.phone_number}}
			    </p>
                  <p class="card-text muted text-center mb-3">
                      {% if user.assets >= 0 %}
                        <h3 class="text-center"><span class="badge badge-success">{{user.assets}}</span></h3>
                      {% else %}
                  <h3 class="text-center"><span class="badge badge-danger">{{user.assets}}</span></h3>
                      {% endif %}
                   </p>
			  </div>
			</div>

            </div>
        {%endfor%}
    </div>
</div>
{% endblock %}